:host {
    display: flex;
    background-color: brown;
    color: bisque;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
}